interactions:
- request:
    body: null
    headers: {}
    method: GET
    uri: https://mc3-dev.mit.edu/handcar/services/learning/objectivebanks/mc3-objectivebank%3A2825%40MIT-OEIT/objectives/mc3-objective%3A15739%40MIT-OEIT/requisites/
  response:
    body: {string: '[]'}
    headers:
      Content-Type: [application/json]
    status: {code: 200, message: OK}
- request:
    body: '{"ids": ["mc3-objective%3A15740%40MIT-OEIT"]}'
    headers:
      Content-Type: [application/json]
    method: PUT
    uri: https://mc3-dev.mit.edu/handcar/services/learning/objectivebanks/mc3-objectivebank%3A2825%40MIT-OEIT/objectives/mc3-objective%3A15739%40MIT-OEIT/requisiteids/
  response:
    body: {string: '{"ids":["mc3-objective%3A15740%40MIT-OEIT"]}'}
    headers:
      Content-Type: [application/json]
    status: {code: 200, message: OK}
- request:
    body: null
    headers: {}
    method: GET
    uri: https://mc3-dev.mit.edu/handcar/services/learning/objectivebanks/mc3-objectivebank%3A2825%40MIT-OEIT/objectives/mc3-objective%3A15739%40MIT-OEIT/requisites/
  response:
    body: {string: '[{"type":"Objective","id":"mc3-objective%3A15740%40MIT-OEIT","auditTrail":{"addedBy":"MC3GUE$T","addedOn":"2017-05-22T15:46:48"},"current":true,"description":{"formatTypeId":"format.text%3APlain%40okapia.net","languageTypeId":"639-2%3AENG%40iso.org","scriptTypeId":"15924%3ALATN%40iso.org","text":"#
        1 required objective for testing requisite assignment"},"displayName":{"formatTypeId":"format.text%3APlain%40okapia.net","languageTypeId":"639-2%3AENG%40iso.org","scriptTypeId":"15924%3ALATN%40iso.org","text":"required
        objective 1"},"genusTypeId":"mc3-objective%3Amc3.learning.topic%40MIT-OEIT","assessmentId":"","cognitiveProcessId":"","knowledgeCategoryId":"","objectiveBankId":"mc3-objectivebank%3A2825%40MIT-OEIT"}]'}
    headers:
      Content-Type: [application/json]
    status: {code: 200, message: OK}
[...]
- request:
    body: null
    headers: {}
    method: GET
    uri: https://mc3-dev.mit.edu/handcar/services/learning/objectivebanks/mc3-objectivebank%3A2825%40MIT-OEIT/objectives/mc3-objective%3A15739%40MIT-OEIT/requisites/
  response:
    body: {string: '[]'}
    headers:
      Content-Type: [application/json]
    status: {code: 200, message: OK}
version: 1
