# Core project/common application testing requirements

boto3==1.4.4
numpy==1.12.1
pymongo==3.4.0
bs4==0.0.1
diskcache==3.0.1
html5lib==0.999999999
lxml==3.7.3
sympy==1.0
requests==2.20.0
python-memcached==1.58
pytest
pytest-pep8
# pytest-pylint
coverage==4.3.4
pytest-cov
envoy==0.0.3
rsa==3.4.2
vcrpy==1.11.0
future==0.16.0
tox==2.8.2
mock==2.0.0
