interactions:
- request:
    body: null
    headers: {}
    method: GET
    uri: https://mc3-dev.mit.edu/handcar/services/learning/types/
  response:
    body: {string: "[{\"type\":\"Type\",\"id\":\"mc3-activity%3Amc3.learning.activity.generic%40MIT-OEIT\",\"authority\":\"MIT-OEIT\",\"description\":{\"formatTypeId\":\"format.text%3APlain%40okapia.net\",\"languageTypeId\":\"639-2%3AENG%40iso.org\",\"scriptTypeId\":\"15924%3ALATN%40iso.org\",\"text\":\"An
        activity who's sole purpose is to link to other items\"},\"displayLabel\":{\"formatTypeId\":\"format.text%3APlain%40okapia.net\",\"languageTypeId\":\"639-2%3AENG%40iso.org\",\"scriptTypeId\":\"15924%3ALATN%40iso.org\",\"text\":\"Generic
        Activity\"},\"displayName\":{\"formatTypeId\":\"format.text%3APlain%40okapia.net\",\"languageTypeId\":\"639-2%3AENG%40iso.org\",\"scriptTypeId\":\"15924%3ALATN%40iso.org\",\"text\":\"Generic
        Activity\"},\"domain\":{\"formatTypeId\":\"format.text%3APlain%40okapia.net\",\"languageTypeId\":\"639-2%3AENG%40iso.org\",\"scriptTypeId\":\"15924%3ALATN%40iso.org\",\"text\":\"activity\"},\"identifier\":\"mc3.learning.activity.generic\",\"identifierNamespace\":\"mc3-activity\"},{\"type\":\"Type\",\"id\":\"mc3-activity%3Amc3.learning.activity.asset.based%40MIT-OEIT\",\"authority\":\"MIT-OEIT\",\"description\":{\"formatTypeId\":\"format.text%3APlain%40okapia.net\",\"languageTypeId\":\"639-2%3AENG%40iso.org\",\"scriptTypeId\":\"15924%3ALATN%40iso.org\",\"text\":\"An
        activity to consume some sort of asset\"},\"displayLabel\":{\"formatTypeId\":\"format.text%3APlain%40okapia.net\",\"languageTypeId\":\"639-2%3AENG%40iso.org\",\"scriptTypeId\":\"15924[...]
