interactions:
- request:
    body: null
    headers: {}
    method: GET
    uri: https://mc3-dev.mit.edu/handcar/services/learning/objectivebanks/mc3-objectivebank%3A1%40MIT-OEIT/activities/
  response:
    body: {string: !!python/unicode '[{"type":"Activity","id":"mc3-activity%3A1536%40MIT-OEIT","auditTrail":{"addedBy":"MC3GUE$T","addedOn":"2014-10-14T09:51:27","updatedBy":"MC3GUE$T","updatedOn":"2015-02-28T13:22:39"},"current":true,"description":{"formatTypeId":"format.text%3APlain%40okapia.net","languageTypeId":"639-2%3AENG%40iso.org","scriptTypeId":"15924%3ALATN%40iso.org","text":""},"displayName":{"formatTypeId":"format.text%3APlain%40okapia.net","languageTypeId":"639-2%3AENG%40iso.org","scriptTypeId":"15924%3ALATN%40iso.org","text":""},"genusTypeId":"mc3-activity%3Amc3.learning.activity.generic%40MIT-OEIT","assessmentIds":[],"assetIds":[],"courseIds":[],"objectiveId":"mc3-objective%3A3716%40MIT-OEIT"},{"type":"Activity","id":"mc3-activity%3A2048%40MIT-OEIT","auditTrail":{"addedBy":"MC3GUE$T","addedOn":"2015-01-11T09:12:33","updatedBy":"MC3GUE$T","updatedOn":"2015-01-31T20:10:52"},"current":true,"description":{"formatTypeId":"format.text%3APlain%40okapia.net","languageTypeId":"639-2%3AENG%40iso.org","scriptTypeId":"15924%3ALATN%40iso.org","text":""},"displayName":{"formatTypeId":"format.text%3APlain%40okapia.net","languageTypeId":"639-2%3AENG%40iso.org","scri[...]
- request:
    body: null
    headers: {}
    method: GET
    uri: https://mc3-dev.mit.edu/handcar/services/learning/objectivebanks/mc3-objectivebank%3A1%40MIT-OEIT/activities/mc3-activity%3A1798%40MIT-OEIT
  response:
    body: {string: !!python/unicode '{"type":"Activity","id":"mc3-activity%3A1798%40MIT-OEIT","auditTrail":{"addedBy":"MC3GUE$T","addedOn":"2014-10-14T09:58:23","updatedBy":"MC3GUE$T","updatedOn":"2015-06-22T00:58:17"},"current":true,"description":{"formatTypeId":"format.text%3APlain%40okapia.net","languageTypeId":"639-2%3AENG%40iso.org","scriptTypeId":"15924%3ALATN%40iso.org","text":""},"displayName":{"formatTypeId":"format.text%3APlain%40okapia.net","languageTypeId":"639-2%3AENG%40iso.org","scriptTypeId":"15924%3ALATN%40iso.org","text":"18.01SC
        Single Variable Calculus: Applications of the Fundamental Theorem of Calculus"},"genusTypeId":"mc3-activity%3Amc3.learning.activity.generic%40MIT-OEIT","assessmentIds":[],"assetIds":["mc3-asset%3A2145%40MIT-OEIT","mc3-asset%3A2146%40MIT-OEIT"],"courseIds":[],"objectiveId":"mc3-objective%3A3734%40MIT-OEIT"}'}
    headers:
      Content-Type: [application/json]
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
    method: GET
    uri: https://mc3-dev.mit.edu//handcar/services/learning/objectivebanks/mc3-objectivebank%3A1%40MIT-OEIT/activities/
  response:
    body: {string: !!python/unicode '[{"type":"Activity","id":"mc3-activity%3A1536%40MIT-OEIT","auditTrail":{"addedBy":"MC3GUE$T","addedOn":"2014-10-14T09:51:27","updatedBy":"MC3GUE$T","updatedOn":"2015-02-28T13:22:39"},"current":true,"description":{"formatTypeId":"format.text%3APlain%40okapia.net","languageType[...]
