interactions:
- request:
    body: null
    headers: {}
    method: GET
    uri: https://mc3-dev.mit.edu/handcar/services/learning/objectivebanks/mc3-objectivebank%3A1%40MIT-OEIT/objectives?genustypeid=mc3-objective%3Amc3.learning.outcome%40MIT-OEIT
  response:
    body: {string: !!python/unicode '[]'}
    headers:
      Content-Type: [application/json]
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
    method: GET
    uri: https://mc3-dev.mit.edu//handcar/services/learning/objectivebanks/mc3-objectivebank%3A1%40MIT-OEIT/objectives?genustypeid=mc3-objective%3Amc3.learning.degree.level%40MIT-OEIT
  response:
    body: {string: !!python/unicode '[]'}
    headers:
      content-type: [application/json]
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
    method: GET
    uri: https://mc3-dev.mit.edu/handcar/services/learning/objectivebanks/mc3-objectivebank%3A1%40MIT-OEIT/objectives?genustypeid=mc3-objective%3Amc3.learning.degree.level%40MIT-OEIT
  response:
    body: {string: !!python/unicode '[]'}
    headers:
      content-type: [application/json]
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
    method: GET
    uri: https://mc3-dev.mit.edu/handcar/services/learning/objectivebanks/mc3-objectivebank%3A1%40MIT-OEIT/objectives?genustypeid=mc3-objective%3Amc3.learning.generic.outcome%40MIT-OEIT
  response:
    body: {string: !!python/unicode '[{"type":"Objective","id":"mc3-objective%3A9729%40MIT-OEIT","auditTrail":{"addedBy":"MC3GUE$T","addedOn":"2015-04-26T18:30:05"},"current":true,"description":{"formatTypeId":"format.text%3APlain%40okapia.net","languageTypeId":"639-2%3AENG%40iso.org","scriptTypeId":"15924%3ALATN%40iso.org","text":""},"displayName":{"formatTypeId":"format.text%3APlain%40okapia.net","languageTypeId":"639-2%3AENG%40iso.org","scriptTypeId":"15924%3ALATN%40iso.org","text":""},"genusTypeId":"mc3-objective%3Amc3.learning.generic.outcome%40MIT-OEIT","assessmentId":"","cognitiveProcessId":"mc3.grade.system.cognitive.process.crosslinks%3Amc3.grade.bloom.learn%40MIT-OEIT","knowledgeCategoryId":"","objectiveBankId":"mc3-objectivebank%3A1%40MIT-OEIT"},{"type":"Objective","id":"mc3-objective%3A9730%40MIT-OEIT","auditTrail":{"addedBy":"MC3GUE$T","addedOn":"2015-04-26T18:30:09"},"current":true,"description":{"formatTypeId":"format.text%3APlain%40okapia.net","languageTypeId":"639-2%3AENG%40iso.org","scriptTypeId":"15924%3ALATN%40iso.org","text":""},"displayName":{"formatTypeId":"format.text%3APlain%40okapia.net","languageTypeId":"639-2%3AENG%40iso.org","scriptTypeId":"15924%3ALATN%40iso.org","text":""},"genusTy[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://mc3-dev.mit.edu/handcar/services/learning/types/mc3-objective%3Amc3.learning.generic.outcome%40MIT-OEIT
  response:
    body: {string: !!python/unicode '{"type":"Type","id":"mc3-objective%3Amc3.learning.generic.outcome%40MIT-OEIT","authority":"MIT-OEIT","description":{"formatTypeId":"format.text%3APlain%40okapia.net","languageTypeId":"639-2%3AENG%40iso.org","scriptTypeId":"15924%3ALATN%40iso.org","text":"Objective
        that represents a generic ''phantom'' outcome a topic such as Learn ''Topic''
        or Apply whatever the topic is"},"displayLabel":{"formatTypeId":"format.text%3APlain%40okapia.net","languageTypeId":"639-2%3AENG%40iso.org","scriptTypeId":"15924%3ALATN%40iso.org","text":"Generic
        Outcome"},"displayName":{"formatTypeId":"format.text%3APlain%40okapia.net","languageTypeId":"639-2%3AENG%40iso.org","scriptTypeId":"15924%3ALATN%40iso.org","text":"Generic
        Outcome"},"domain":{"formatTypeId":"format.text%3APlain%40okapia.net","languageTypeId":"639-2%3AENG%40iso.org","scriptTypeId":"15924%3ALATN%40iso.org","text":"objective"},"identifier":"mc3.learning.generic.outcome","identifierNamespace":"mc3-objective"}'}
    headers:
      Content-Type: [application/json]
    status: {code: 200, message: OK}
[...]
