interactions:
- request:
    body: '{"journalComment": {"languageTypeId": "639-2%3AEnglish%40ISO", "scriptTypeId":
      "15924%3ALatin%40ISO", "formatTypeId": "Text+Formats%3Aplain%40okapia.net",
      "text": ""}, "displayName": {"languageTypeId": "639-2%3AEnglish%40ISO", "scriptTypeId":
      "15924%3ALatin%40ISO", "formatTypeId": "Text+Formats%3Aplain%40okapia.net",
      "text": "Test Asset"}, "description": {"languageTypeId": "639-2%3AEnglish%40ISO",
      "scriptTypeId": "15924%3ALatin%40ISO", "formatTypeId": "Text+Formats%3Aplain%40okapia.net",
      "text": "This is a Test Asset"}, "genusTypeId": "mc3-asset%3Amc3.learning.asset.url%40MIT-OEIT",
      "Id": "", "title": {"languageTypeId": "639-2%3AEnglish%40ISO", "scriptTypeId":
      "15924%3ALatin%40ISO", "formatTypeId": "Text+Formats%3Aplain%40okapia.net",
      "text": ""}, "publicDomain": false, "copyright": {"languageTypeId": "639-2%3AEnglish%40ISO",
      "scriptTypeId": "15924%3ALatin%40ISO", "formatTypeId": "Text+Formats%3Aplain%40okapia.net",
      "text": ""}, "copyrightStatusKnown": false, "canDistributeVerbatim": false,
      "canDistributeAlterations": false, "canDistributeCompositions": false, "sourceId":
      null, "providerLinkIds": [], "published": false, "principalCreditString": {"languageTypeId":
      "639-2%3AEnglish%40ISO", "scriptTypeId": "15924%3ALatin%40ISO", "formatTypeId":
      "Text+Formats%3Aplain%40okapia.net", "text": ""}, "compositionId": null, "assetContents":
      []}'
    headers:
      Content-Type: [application/json]
    method: POST
    uri: https://mc3-dev.mit.edu/handcar/services/learning/objectivebanks/mc3-objectivebank%3A2825%40MIT-OEIT/assets/
  response:
    body: {string: '{"type":"Asset","id":"mc3-asset%3A6110%40MIT-OEIT","current":true,"description":{"formatTypeId":"format.text%3APlain%40okapia.net","languageTypeId":"639-2%3AENG%40iso.org","scriptTypeId":"15924%3ALATN%40iso.org","text":"This
        is a Test Asset"},"displayName":{"formatTypeId":"format.text%3APlain%40okapia.net","languageTypeId":"639-2%3AENG%40iso.org","scriptTypeId":"15924%3ALATN%40iso.org","text":"Test
        Asset"},"genusTypeId":"mc3-asset%3Amc3.learning.asset.url%40MIT-OEIT","assetContents":[],"brandingIds":[],"canDistributeAlterations":false,"canDistributeCompositions":false,"canDistributeVerbatim":false,"compositionId":"","copyright":{"formatTypeId":"format.text%3APlain%40okapia.net","languageTypeId":"639-2%3AENG%40iso.org","scriptTypeId":"15924%3ALATN%40iso.org","text":""},"license":{"formatTypeId":"format.text:Plain@okapia.net","languageTypeId":"639-2:ENG@iso.org","scriptTypeId":"15924:LATN@iso.org","text":""},"principalCreditString":{"formatTypeId":"format.text%3APlain%40okapia.net","languageTypeId":"639-2%3AENG%40iso.org","scriptTypeId":"15924%3ALATN%40iso.org","text":""},"providerLinkIds":[],"publicDomain":false,"published":false,"sourceId":"nil:osid.resource.Resource@okapia.net","title":{"formatTypeId":"format.text%3APlain%40okapia.net","languageTypeId":"639-2%3AENG%40iso.org","scriptTypeId":"15924%3ALATN%40iso.org","text":""}}'}
    headers:
      Content-Type: [application/json]
    status: {code: 200, message: OK}
- request:
    body: null
    headers: {}
    method: GET
    uri: https://mc3-dev.mit.edu/handcar/services/learning/objectivebanks/mc3-objectivebank%3A2825%40MIT-OEIT/assets/mc3-asset%3A6110%40MIT-OEIT
  response:
    body: {string: '{"type":"Asset","id":"mc3-asset%3A6110%40MIT-OEIT","current":true,"description":{"formatTypeId":"format.text%3APlain%40okapia.net","languageTypeId":"639-2%3AENG%40iso.org","scriptTypeId":"15924%3ALATN%40iso.org","text":"This
        is a Test Asset"},"displayName":[...]
[...]
- request:
    body: null
    headers: {}
    method: GET
    uri: https://mc3-dev.mit.edu/handcar/services/learning/objectivebanks/mc3-objectivebank%3A2825%40MIT-OEIT/assets/mc3-asset%3A6110%40MIT-OEIT
  response:
    body: {string: 'org.osid.NotFoundException: mc3-asset:6110@MIT-OEIT in repository
        147'}
    headers:
      Content-Type: [text/plain]
    status: {code: 404, message: Not Found}
version: 1
