interactions:
- request:
    body: '{"journalComment": {"languageTypeId": "639-2%3AEnglish%40ISO", "scriptTypeId":
      "15924%3ALatin%40ISO", "formatTypeId": "Text+Formats%3Aplain%40okapia.net",
      "text": ""}, "displayName": {"languageTypeId": "639-2%3AEnglish%40ISO", "scriptTypeId":
      "15924%3ALatin%40ISO", "formatTypeId": "Text+Formats%3Aplain%40okapia.net",
      "text": "CrUD-Test Repository"}, "description": {"languageTypeId": "639-2%3AEnglish%40ISO",
      "scriptTypeId": "15924%3ALatin%40ISO", "formatTypeId": "Text+Formats%3Aplain%40okapia.net",
      "text": "This is a Test Repository for CrUD"}, "genusTypeId": "mc3-objectivebank%3Amc3.learning.objectivebank.sandbox%40MIT-OEIT"}'
    headers:
      Content-Type: [application/json]
    method: POST
    uri: https://mc3-dev.mit.edu/handcar/services/learning/objectivebanks/
  response:
    body: {string: '{"type":"ObjectiveBank","id":"mc3-objectivebank%3A2977%40MIT-OEIT","auditTrail":{"addedBy":"MC3GUE$T","addedOn":"2017-05-26T14:07:56"},"current":true,"description":{"formatTypeId":"format.text%3APlain%40okapia.net","languageTypeId":"639-2%3AENG%40iso.org","scriptTypeId":"15924%3ALATN%40iso.org","text":"This
        is a Test Repository for CrUD"},"displayName":{"formatTypeId":"format.text%3APlain%40okapia.net","languageTypeId":"639-2%3AENG%40iso.org","scriptTypeId":"15924%3ALATN%40iso.org","text":"CrUD-Test
        Repository"},"genusTypeId":"mc3-objectivebank%3Amc3.learning.objectivebank.sandbox%40MIT-OEIT"}'}
    headers:
      Content-Type: [application/json]
    status: {code: 200, message: OK}
- request:
    body: null
    headers: {}
    method: GET
    uri: https://mc3-dev.mit.edu/handcar/services/learning/objectivebanks/mc3-objectivebank%3A2977%40MIT-OEIT
  response:
    body: {string: '{"type":"ObjectiveBank","id":"mc3-objectivebank%3A2977%40MIT-OEIT","auditTrail":{"addedBy":"MC3GUE$T","addedOn":"2017-05-26T14:07:56"},"current":true,"description":{"formatTypeId":"format.text%3APlain%40okapia.net","languageTypeId":"639-2%3AENG%40iso.org","scriptTypeId":"15924%3ALATN%40iso.org","text":"This
        is a Test Repository for CrUD"},"displayName":{"formatTypeId":"format.text%3APlain%40okapia.net","languageTypeId":"639-2%3AENG%40iso.org","scriptTypeId":"15924%3ALATN%40iso.org","text":"CrUD-Test
        Repository"},"genusTypeId":"mc3-objectivebank%3Amc3.learning.objectivebank.sandbox%40MIT-OEIT"}'}
    headers:
      Content-Type: [application/json]
    status: {code: 200, message: OK}
- request:
    body: '{"type": "ObjectiveBank", "id": "mc3-objectivebank%3A2977%40MIT-OEIT",
      "auditTrail": {"addedBy": "MC3GUE$T", "addedOn": "2017-05-26T14:07:56"}, "current":
      true, "description": {"formatTypeId": "format.text%3APlain%40okapia.net", "languageTypeId":
      "639-2%3AENG%40iso.org", "scriptTypeId": "15924%3ALATN%40iso.org", "text": "This
      is a Test Repository for CrUD"}, "displayName": {"formatTypeId": "format.text%3APlain%40okapia.net",
      "languageTypeId": "639-2%3AENG%40iso.org", "scriptTypeId": "15924%3ALATN%40iso.org",
      "text": "New Name for CrUD-Test Repository"}, "genusTypeId": "mc3-objectivebank%3Amc3.learning.objectivebank.sandbox%40MIT-OEIT"}'
    headers:
      Content-Type: [application/json]
    method: PUT
    uri: https://mc3-dev.mit.edu/handcar/services/learning/objectivebanks/
  response:
    body: {string: '{"type":"ObjectiveBank","id":"mc3-objectivebank%3A2977%40MIT-OEIT","auditTrail":{"addedBy":"MC3GUE$T","addedOn":"2017-05-26T14:07:56","updatedBy":"MC3GUE$T","updatedOn":"2017-05-26T14:07:56"},"current":true,"description":{"formatTypeId":"format.text%3APlain%40okapia.net","languageTypeId":"639-2%3AENG%40iso.org","scriptTypeId":"15924%3ALATN%40iso.org","text":"This
        is a Test Repository for CrUD"},"displayName":{"formatTypeId":"format.text%3APlain%40okapia.net","languageTypeId":"639-2%3AENG%40iso.org","scriptTypeId":"15924%3ALATN%40iso.org","text":"New
        Name for CrUD-Test Repository"},"genusTypeId":"mc3-objectivebank%3Amc3.learning.objectivebank.sandbox%40MIT-OEIT"}'}
    headers:
      Content-Type: [application/json]
    status: {code: 200, message: OK}
[...]
- request:
    body: null
    headers: {}
    method: GET
    uri: https://mc3-dev.mit.edu/handcar/services/learning/objectivebanks/mc3-objectivebank%3A2977%40MIT-OEIT
  response:
    body: {string: 'org.osid.NotFoundException: mc3-objectivebank:2977@MIT-OEIT'}
    headers:
      Content-Type: [text/plain]
    status: {code: 404, message: Not Found}
version: 1
