interactions:
- request:
    body: null
    headers: {}
    method: GET
    uri: https://mc3-dev.mit.edu/handcar/services/learning/objectivebanks/mc3-objectivebank%3A1%40MIT-OEIT/objectives/mc3-objective%3A3762%40MIT-OEIT/requisites/
  response:
    body: {string: !!python/unicode '[{"type":"Objective","id":"mc3-objective%3A3902%40MIT-OEIT","auditTrail":{"addedBy":"MC3GUE$T","addedOn":"2014-10-14T09:49:40","updatedBy":"MC3GUE$T","updatedOn":"2015-08-06T11:04:36"},"current":true,"description":{"formatTypeId":"format.text%3APlain%40okapia.net","languageTypeId":"639-2%3AENG%40iso.org","scriptTypeId":"15924%3ALATN%40iso.org","text":"A
        Riemann sum is an approximation of the signed area bounded by a function $f(x)$
        and the $x$-axis: $$ A = \\sum_{k=1}^{n} y_k^* \\, \\Delta x_k $$ where $y_k^*
        = f(x_k^*)$ is the height and $\\Delta x_k$ is the width of the $k^{th}$ vertical
        strip.\n\n--- 18.01 notes (5th link in Learn section)"},"displayName":{"formatTypeId":"format.text%3APlain%40okapia.net","languageTypeId":"639-2%3AENG%40iso.org","scriptTypeId":"15924%3ALATN%40iso.org","text":"Riemann
        sum"},"genusTypeId":"mc3-objective%3Amc3.learning.topic%40MIT-OEIT","assessmentId":"assessment.AssessmentOffered%3A559833b0e7dde0867b34d088%40bazzim.MIT.EDU","cognitiveProcessId":"","knowledgeCategoryId":"","objectiveBankId":"mc3-objectivebank%3A1%40MIT-OEIT"}]'}
    headers:
      Content-Type: [application/json]
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
    method: GET
    uri: https://mc3-dev.mit.edu//handcar/services/learning/objectivebanks/mc3-objectivebank%3A1%40MIT-OEIT/objectives/mc3-objective%3A3762%40MIT-OEIT/requisites/
  response:
    body: {string: !!python/unicode '[{"type":"Objective","id":"mc3-objective%3A3902%40MIT-OEIT","auditTrail":{"addedBy":"MC3GUE$T","addedOn":"2014-10-14T09:49:40","updatedBy":"MC3GUE$T","updatedOn":"2015-08-06T11:04:36"},"current":true,"description":{"formatTypeId":"format.text%3APlain%40okapia.net","languageTypeId":"639-2%3AENG%40iso.org","scriptTypeId":"15924%3ALATN%40iso.org","text":"A
        Riemann sum is an approximation of the signed area bounded by a function $f(x)$
        and the $x$-axis: $$ A = \\sum_{k=1}^{n} y_k^* \\, \\Delta x_k $$ where $y_k^*
        = f(x_k^*)$ is the height and $\\Delta x_k$ is the width of the $k^{th}$ vertical
        strip.\n\n--- 18.01 notes (5th link in Learn section)"},"displayName":{"formatTypeId":"format.text%3APlain%40okapia.net","languageTypeId":"639-2%3AENG%40iso.org","scriptTypeId":"15924%3ALATN%40iso.org","text":"Riemann
        sum"},"genusTypeId":"mc3-objective%3Amc3.learning.topic%40MIT-OEIT","assessmentId":"assessment.AssessmentOffered%3A559833b0e7dde0867b34d088%40bazzim.MIT.EDU","cognitiveProcessId":"","knowledgeCategoryId":"","objectiveBankId":"mc3-objectivebank%3A1%40MIT-OEIT"}]'}
    headers:
      content-type: [application/json]
    status: {code: 200, message: OK}
version: 1
