interactions:
- request:
    body: null
    headers: {}
    method: GET
    uri: https://mc3-dev.mit.edu/handcar/services/learning/objectivebanks/mc3-objectivebank%3A1%40MIT-OEIT/objectives/mc3-objective%3A3762%40MIT-OEIT/dependents
  response:
    body: {string: !!python/unicode '[{"type":"Objective","id":"mc3-objective%3A3757%40MIT-OEIT","auditTrail":{"addedBy":"MC3GUE$T","addedOn":"2014-10-14T09:48:21","updatedBy":"MC3GUE$T","updatedOn":"2015-08-03T10:49:51"},"current":true,"description":{"formatTypeId":"format.text%3APlain%40okapia.net","languageTypeId":"639-2%3AENG%40iso.org","scriptTypeId":"15924%3ALATN%40iso.org","text":"The
        convolution of two functions $f$ and $g$ is: $$(f \\ast g)(t) = \\int_{0^-}^{t^+}
        f(s) g(t-s) \\, ds$$\n--- 18.03 notes"},"displayName":{"formatTypeId":"format.text%3APlain%40okapia.net","languageTypeId":"639-2%3AENG%40iso.org","scriptTypeId":"15924%3ALATN%40iso.org","text":"Convolution"},"genusTypeId":"mc3-objective%3Amc3.learning.topic%40MIT-OEIT","assessmentId":"assessment.AssessmentOffered%3A55983327e7dde0867aa28b60%40bazzim.MIT.EDU","cognitiveProcessId":"","knowledgeCategoryId":"","objectiveBankId":"mc3-objectivebank%3A1%40MIT-OEIT"},{"type":"Objective","id":"mc3-objective%3A3879%40MIT-OEIT","auditTrail":{"addedBy":"MC3GUE$T","addedOn":"2014-10-14T09:49:25","updatedBy":"MC3GUE$T","updatedOn":"2015-08-04T19:23:39"},"current":true,"description":{"formatTypeId":"format.text%3APlain%40okapia.net","languageTypeId":"639-2%3AENG%40iso.org","scriptTypeId":"15924%3ALATN%40iso.org","text":"The
        moment of inertia of a rigid body about a fixed axis passing through the center
        of mass is [...]
- request:
    body: null
    headers:
    method: GET
    uri: https://mc3-dev.mit.edu//handcar/services/learning/objectivebanks/mc3-objectivebank%3A1%40MIT-OEIT/objectives/mc3-objective%3A3762%40MIT-OEIT/dependents
  response:
    body: {string: !!python/unicode '[{"type":"Objective","id":"mc3-objective%3A3757%40MIT-OEIT","auditTrail":{"addedBy":"MC3GUE$T","addedOn":"2014-10-14T09:48:21","updatedBy":"MC3GUE$T","updatedOn":"2015-08-03T10:49:51"},"current":true,"description":{"formatTypeId":"for[...]
