interactions:
- request:
    body: null
    headers: {}
    method: GET
    uri: https://mc3-dev.mit.edu/handcar/services/learning/objectivebanks/
  response:
    body: {string: !!python/unicode '[{"type":"ObjectiveBank","id":"mc3-objectivebank%3A1%40MIT-OEIT","auditTrail":{"addedBy":"MC3GUE$T","addedOn":"2013-11-13T13:55:58","comment":""},"current":true,"description":{"formatTypeId":"format.text%3APlain%40okapia.net","languageTypeId":"639-2%3AENG%40iso.org","scriptTypeId":"15924%3ALATN%40iso.org","text":"These
        objectives are loaded from the Crosslinks wiki"},"displayName":{"formatTypeId":"format.text%3APlain%40okapia.net","languageTypeId":"639-2%3AENG%40iso.org","scriptTypeId":"15924%3ALATN%40iso.org","text":"Crosslinks"},"genusTypeId":"mc3-objectivebank%3Amc3.learning.objectivebank.crosslinks%40MIT-OEIT"},{"type":"ObjectiveBank","id":"mc3-objectivebank%3A2%40MIT-OEIT","auditTrail":{"addedBy":"MC3GUE$T","addedOn":"2013-11-13T14:42:17","comment":""},"current":true,"description":{"formatTypeId":"format.text%3APlain%40okapia.net","languageTypeId":"639-2%3AENG%40iso.org","scriptTypeId":"15924%3ALATN%40iso.org","text":"These
        objectives relate to the MITCET Chemistry Bridge Project"},"displayName":{"formatTypeId":"format.tex[...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://mc3-dev.mit.edu//handcar/services/learning/objectivebanks/
  response:
    body: {string: !!python/unicode '[{"type":"ObjectiveBank","id":"mc3-objectivebank%3A1%40MIT-OEIT","auditTrail":{"addedBy":"MC3GUE$T","addedOn":"2013-11-13T13:55:58","comment":""},"current":true,"description":{"formatTypeId":"format.text%3APlain%40okapia.net","languageTypeId":"639-2%3AENG%40iso.org","scriptTypeId":"15924%3ALATN%40iso.org","text":"These[...]
[...]
