interactions:
- request:
    body: null
    headers: {}
    method: GET
    uri: https://mc3-dev.mit.edu/handcar/services/learning/objectivebanks/mc3-objectivebank%3A2%40MIT-OEIT/objectives/mc3-objective%3A187%40MIT-OEIT/children
  response:
    body: {string: !!python/unicode '[{"type":"Objective","id":"mc3-objective%3A188%40MIT-OEIT","auditTrail":{"addedBy":"MC3GUE$T","addedOn":"2013-11-13T14:42:20","comment":""},"current":true,"description":{"formatTypeId":"format.text%3APlain%40okapia.net","languageTypeId":"639-2%3AENG%40iso.org","scriptTypeId":"15924%3ALATN%40iso.org","text":"Explain
        how pH acts as a measure for the \"strength\" of an acid/base"},"displayName":{"formatTypeId":"format.text%3APlain%40okapia.net","languageTypeId":"639-2%3AENG%40iso.org","scriptTypeId":"15924%3ALATN%40iso.org","text":"Strength
        of an acid/base outcome 3C1"},"genusTypeId":"mc3-objective%3Amc3.learning.outcome%40MIT-OEIT","assessmentId":"","cognitiveProcessId":"","knowledgeCategoryId":"","objectiveBankId":"mc3-objectivebank%3A2%40MIT-OEIT"},{"type":"Objective","id":"mc3-objective%3A189%40MIT-OEIT","auditTrail":{"addedBy":"MC3GUE$T","addedOn":"2013-11-13T14:42:20","comment":""},"current":true,"description":{"formatTypeId":"format.text%3APlain%40okapia.net","languageTypeId":"639-2%3AENG%40iso.org","scriptTypeId":"15924%3ALATN%40iso.org","text":"Explain
        the differences between the \"strength\" and the \"concentration\" of an acid/base
        (i.e. strength ~ Ka while concentration is indepe[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://mc3-dev.mit.edu//handcar/services/learning/objectivebanks/mc3-objectivebank%3A2%40MIT-OEIT/objectives/mc3-objective%3A187%40MIT-OEIT/children
  response:
    body: {string: !!python/unicode '[{"type":"Objective","id":"mc3-objective%3A188%40MIT-OEIT","auditTrail":{"addedBy":"MC3GUE$T","addedOn":"2013-11-13T14:42:20","comment":""},"current":true,"description":{"formatTypeId":"format.text%3APlain%40okapia.net","languageTypeId":[...]
