interactions:
- request:
    body: null
    headers: {}
    method: GET
    uri: https://mc3-dev.mit.edu/handcar/services/learning/objectivebanks/mc3-objectivebank%3A2%40MIT-OEIT/objectives/roots?descendentlevels=0
  response:
    body: {string: !!python/unicode '[{"type":"ObjectiveNode","id":"mc3-objective%3A162%40MIT-OEIT","auditTrail":{"addedOn":"2013-11-13T14:42:18","comment":""},"current":true,"description":{"formatTypeId":"format.text%3APlain%40okapia.net","languageTypeId":"639-2%3AENG%40iso.org","scriptTypeId":"15924%3ALATN%40iso.org","text":"Buffers:
        A study of Chemical Equilibria"},"displayName":{"formatTypeId":"format.text%3APlain%40okapia.net","languageTypeId":"639-2%3AENG%40iso.org","scriptTypeId":"15924%3ALATN%40iso.org","text":"Buffers:
        A study of Chemical Equilibria"},"genusTypeId":"mc3-objective%3Amc3.learning.topic%40MIT-OEIT","assessmentId":"","cognitiveProcessId":"","knowledgeCategoryId":"","objectiveBankId":"mc3-objectivebank%3A2%40MIT-OEIT","childNodes":[],"leaf":false,"root":true,"sequestered":false},{"type":"ObjectiveNode","id":"mc3-objective%3A217%40MIT-OEIT","auditTrail":{"addedOn":"2013-11-13T14:42:23","comment":""},"current":true,"description":{"formatTypeId":"format.text%3APlain%40okapia.net","languageTypeId":"639-2%3AENG%40iso.org","scriptTypeId":"15924%3ALATN%40iso.org","text":"Electrochem
        and Redox"},"displayName":{"formatTypeId":"format.text%3APlain%40okapia.net","languageTypeId":"639-2%3AENG%40iso.org","scriptTypeId":"15924%3ALATN%40iso.org","text":"Electrochem
    [...]
- request:
    body: null
    headers:
    method: GET
    uri: https://mc3-dev.mit.edu//handcar/services/learning/objectivebanks/mc3-objectivebank%3A2%40MIT-OEIT/objectives/roots?descendentlevels=0
  response:
    body: {string: !!python/unicode '[{"type":"ObjectiveNode","id":"mc3-objective%3A162%40MIT-OEIT","auditTrail":{"addedOn":"2013-11-13T14:42:18","comment":""},"current":true,"description":{"formatTypeId":"format.text%3APlain%40okapia.net","languageTypeId":"639-2%3AENG%40iso.org","scriptT[...]
